<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pro Trator</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/stylleee.css">

</head>

<body style="background-color: #F2f2f2;">
    <script src="https://www.gstatic.com/firebasejs/9.6.3/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.3/firebase-database-compat.js"></script>
    <script src="controldispensa.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SEDAMA QUIXELO</a>
       
        <div class="navbar-brand"  id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="PROTRATOR.html">PROTRATOR <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Anuencia.html">   ANUENCIA   </a> 
            </li>
		  
            <li class="nav-item active">
                <a class="nav-link" href="dispensa.html">   DISPENSA AMB.   </a> 
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="ater.html">   ATER   </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recibos.html">   REC.TRATOR</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="DemandaHP.html">   DEMANDA HP  </a> 
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="Ambiente.html">   AMBIENTE </a> 
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="Sust.html">   SUSTENTABILIDADE  </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="sair()">   SAIR  </a>   
            </li>
          </ul>
        </div>
      </nav>


    <div id= "geral" style="margin-top: 00px;">
        
        <form  class="container col-12" action="javascript:InserirDispensa();">
            <form class="form-row">
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="CPF" type="text" maxlength="11" id="cpf" onblur="completaDados()" required><br>

                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Nome Produtor" type="text "id="produtor" required><br>
                    </div>
                    
                    <div class="col">
                        <input class="form-control" placeholder="Localidade Ex: Sitio Tapuio, Zona Rural" type="text" id="localidade" required><br>
                     
                    </div>
                    
                    
                    
                </div>
                <div class="row">
                   
                   
                    <div class="col">
                        <input class="form-control" placeholder="Atividade a ser realizada" type="text" id="atv" ><br>

                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Valor financiamento" type="text" id="vlr" ><br>

                    </div>
                </div>

                
                <input type="submit" class="btn btn-primary">
        </form >
        <div id="inf"></div>
        <button  class="btn btn-primary" placeholder="ANEXAR ARQUIVOS" onclick="link()">ANEXAR ARQUIVOS</button>


        <table class="table table-striped" style="margin-top: 20px;" id="tbl_users_list" ,border="3">
            <tr>
                <td scope="col"><strong>Nº</strong></td>
                <td scope="col"><strong>PRODUTOR</strong></td>
                <td scope="col"><strong>CPF</strong></td>
                <td scope="col"><strong>LOCALIDADE</strong></td>
                
                <td scope="col"><strong>VALOR FIN.</strong></td>
                <td scope="col"><strong>DATA</strong></td>
                <td scope="col"><strong>ATIVIDADE DESEN.</strong></td>
                <td scope="col">IMPRIMIR</td>
                
               
                
            </tr>
        </table>
    </div>
	
    <div id="divImp">
	
	<div id="impressao"></div>
	
	
    
</body>

</html>
