<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pro Trator</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/stylleee.css">

</head>

<body style="background-color: #F2f2f2;">
    <script src="https://www.gstatic.com/firebasejs/9.6.3/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.3/firebase-database-compat.js"></script>
    <script src="controler/controlSust.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../semeando.png" height="100px" width="130px"> <br><h6 style="color: green;"><strong> Sedama Quixelo</strong></h6></a>
       
        <div class="navbar-brand" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="PROTRATOR2024.html">PROTRATOR <span class="sr-only">(current)</span></a>
            </li>
           
           
            <li class="nav-item ">
                <a class="nav-link" href="ater.html">   ATER   </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recibos.html">   REC.TRATOR   </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="DemandaHP.html">   DEMANDA HP  </a> 
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="Sust.html">   SUSTENTABILIDADE  </a> 
            </li>
        </li>   <li class="nav-item ">
            <a class="nav-link " href="PNHR.html">   PNHR  </a> 
        </li>
            <li class="nav-item ">
                <a class="nav-link" href="Inseminar.html">   INSEMINAÇÃO </a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="sair()">   SAIR  </a>   
            </li>
          </ul>
        </div>
      </nav>

        <div id="alterar"></div>

      <div id= "geral" style="margin-top: 20px;">
        <div id="form">
        <form  class="container col-12" action="javascript:InserirProtocolo();">
            <form class="form-row">
                <div class="row">
                    <div class="col">
                        <input class="form-control" placeholder="NOME" type="text" id="nome" required><br>
                        <input class="form-control" placeholder="CPF" type="text" maxlength="11" id="cpf" onblur="completaDados()" required><br>

                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="RG" type="text" id="rg" ><br>
                        <input class="form-control" placeholder="EMAIL" type="text"  id="email" ><br>
                    </div>
                    
                    <div class="col">
                        <input class="form-control" placeholder="PROFISSAO" type="text "id="profissao" required><br>

                        <input class="form-control" placeholder="ENDEREÇO" type="text" id="localidade" required><br>

                    </div>
                </div>
                <div class="row">
                   <div class= "col">
                    <input class="form-control" placeholder="CONTATO" type="text"  id="telefone" ><br>


                   </div>
                    
                    <div class="col">
                        <input class="form-control" placeholder="NIS" type="text"  id="nis" required ><br>

                    </div>
             
                    <div class="col">
                        <input class="form-control" placeholder="N° PESSOAS NA CASA" type="number" id="npessoas" required><br>


                    </div>
                    
                    <div class="col">
                        <input  class="form-control" placeholder="DATA NASCIMENTO " type="date" id="dtnasc" required><br>


                    </div>
                
                </div>
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" placeholder="OBSERVACOES" type="text"  id="obs" ></textarea>
<br>
                        </div>
                        
                    </div>
                </div>

                
                <input type="submit" class="btn btn-primary">
        </form >
   
        <div id="inf"></div>
     
        <table class="table table-striped" style="margin-top: 20px;" id="tbl_users_list" ,border="3">
            <tr>
                <td scope="col">NOME</td>
                <td scope="col">CPF</td>
                <td scope="col">ENDERECO</td>
                <td scope="col">DT. NASC.</td>
                <td scope="col">RG</td>
                <td scope="col">NIS</td>
                <td scope="col">EMAIL</td>
                <td scope="col">TELEFONE</td>
                <td scope="col">N PESSOAS</td>
                <td scope="col">PROFISSAO</td>
                
              
               
                
            </tr>
        </table>
    </div>
</div>
    <div id="divImp">
	
	<div id="impressao"></div>
	
    
    
</body>

</html>
